<!DOCTYPE html>  
<html>  
<head>
  <meta charset="utf-8">
  <title> <%= doc.title %> </title>
</head>
<h1>
    <meta charset="utf-8">
     <%= doc.title %>
</h1>
<h2>
    by <%= doc.author %>
</h2>
<body>
    <main>
        Created <%= doc.created.toLocaleDateString('en-US')%>, updated <%= doc.updated.toLocaleDateString('en-US')%> <br>
        Component Title
        
        
</main>
</body>
</html>  